# ================================
# DEPENDENCIES
# ================================
node_modules/

# ================================
# ENV FILES (SECRETS)
# ================================
.env
.env.local
.env.production

# ================================
# BUILDS
# ================================
dist/
build/

# ================================
# OS FILES
# ================================
.DS_Store

# ================================
# WALLETS / SECRETS (CRITICAL)
# ================================
*.json
devnet-wallet.json
main-wallet.json

# ================================
# LOGS
# ================================
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
